<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eli.default" version="2.25" xmlns="http://www.w3.org/ns/widgets">
 <preference name="Fullscreen" value="true" />
 <preference name="DisallowOverscroll" value="true" />
 <preference name="StatusBarOverlaysWebView" value="true" />
 <preference name="orientation" value="portrait" />
 <preference name="KeepRunning" value="true"/>
 <name>Game 8.2</name>
 <icon src="" />


</widget>
